body {
	width: 100%; height: 100%;
}
html {
	width: 100%; height: 100%;
}
@media all and (min-width:767px)
{
.navbar {
	padding: 20px 0px; transition:background 0.5s ease-in-out, padding 0.5s ease-in-out; -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
	padding: 0px;
}
}
@media all and (max-width:767px)
{
h1 {
	font-size: 2em;
}
h3 {
	font-size: 1.17em;
}
h4 {
	font-size: 1em;
}
p {
	font-size: 0.9em;
}
.btn-xs {
	padding: 0.15vw 0.75vw; font-size: 0.8em;
}
}
.section-intro {
	background: url("../intro/bg.jpg") no-repeat center / cover; height: 100%; text-align: center; padding-top: 120px; padding-bottom: 30px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
}
.section-intro h1 {
	color: white;
}
.section-intro p {
	color: white;
}
.section-intro a {
	color: white;
}
.section-intro .my-info {
	padding-top: 1em; padding-bottom: 2em; background-color: rgba(0, 0, 0, 0.7);
}
@media all and (max-width:767px)
{
.section-intro .my-info {
	width: 75%; margin-left: 12.5%;
}
}
.section-about {
	text-align: center; padding-top: 100px; padding-bottom: 30px;
}
.section-publication {
	text-align: center; padding-top: 100px; padding-bottom: 30px;
}
.section-project {
	text-align: center; padding-top: 100px; padding-bottom: 30px;
}
@media all and (max-width:767px)
{
.section-about {
	padding-right: 5%; padding-left: 5%;
}
.section-publication {
	padding-right: 5%; padding-left: 5%;
}
.section-project {
	padding-right: 5%; padding-left: 5%;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
.section-about {
	padding-right: 10%; padding-left: 10%;
}
.section-publication {
	padding-right: 10%; padding-left: 10%;
}
.section-project {
	padding-right: 10%; padding-left: 10%;
}
}
@media all and (max-width:1999px) and (min-width:992px)
{
.section-about {
	padding-right: 20%; padding-left: 20%;
}
.section-publication {
	padding-right: 20%; padding-left: 20%;
}
.section-project {
	padding-right: 20%; padding-left: 20%;
}
}
@media all and (min-width:2000px)
{
.section-about {
	padding-right: 30%; padding-left: 30%;
}
.section-publication {
	padding-right: 30%; padding-left: 30%;
}
.section-project {
	padding-right: 30%; padding-left: 30%;
}
}
.section-about {
	background: rgb(238, 238, 238);
}
.section-about .school-fig {
	padding: 0.5em; height: auto; max-width: 36%;
}
@media all and (max-width:767px)
{
.section-about .school-fig {
	max-width: 48%;
}
}
.section-about .company-fig {
	padding: 0.5em; height: auto; max-width: 48%;
}
@media all and (max-width:767px)
{
.section-about .company-fig {
	max-width: 48%;
}
}
.section-about .education p {
	margin: 0px;
}
.section-about .industry p {
	margin: 0px;
}
.section-about .school {
	padding-bottom: 15px;
}
.section-about .company {
	padding-bottom: 15px;
}
.section-about .teaching {
	text-align: left;
}
.section-about .professional {
	text-align: left;
}
.section-publication {
	background: rgb(255, 255, 255);
}
.section-publication h3.subfield {
	text-align: left; margin-top: 100px; margin-bottom: 30px;
}
.section-publication h3.subfield-first {
	text-align: left; margin-top: 50px; margin-bottom: 30px;
}
.section-publication .paper {
	text-align: left; padding-top: 25px; padding-bottom: 25px; display: flex; flex-wrap: wrap;
}
.section-publication .paper .paper-fig {
	margin: auto;
}
.section-publication .paper .paper-fig img {
	margin: auto; max-height: 150px;
}
.section-publication .paper .paper-info {
	margin: auto;
}
@media all and (max-width:767px)
{
.section-publication .paper {
	text-align: center;
}
.section-publication .paper img {
	height: 25vw;
}
.section-publication .paper p {
	font-size: 1.8vw;
}
}
.section-project {
	background: rgb(238, 238, 238);
}
.subtitle {
	margin-bottom: 2vw;
}
.popover .popover-title {
	text-align: justify; font-family: "Times New Roman", Times, serif;
}
.popover .popover-content {
	text-align: justify; font-family: "Times New Roman", Times, serif;
}
@media all and (max-width:767px)
{
.popover {
	max-width: 80%;
}
.popover .popover-title {
	padding-right: 4vw; padding-left: 4vw;
}
.popover .popover-content {
	padding-right: 4vw; padding-left: 4vw;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
.popover {
	max-width: 60%;
}
.popover .popover-title {
	padding-right: 3vw; padding-left: 3vw;
}
.popover .popover-content {
	padding-right: 3vw; padding-left: 3vw;
}
}
@media all and (max-width:1999px) and (min-width:992px)
{
.popover {
	max-width: 45%;
}
.popover .popover-title {
	padding-right: 2vw; padding-left: 2vw;
}
.popover .popover-content {
	padding-right: 2vw; padding-left: 2vw;
}
}
@media all and (min-width:2000px)
{
.popover {
	max-width: 35%;
}
.popover .popover-title {
	padding-right: 1vw; padding-left: 1vw;
}
.popover .popover-content {
	padding-right: 1vw; padding-left: 1vw;
}
}
